<!-- Product List Start -->
<div class="product-view">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="product-search">
                                    <input type="email" value="Search">
                                    <button><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="container-fluid pt-4 px-4">
                                <div class="row g-2">
                                    <div class="col-12">
                                        <div class="bg-light rounded h-100 p-4">
                                            <form class="col-12" method="post">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label for="filter">Choose a brand:</label>
                                                        <select id="cars" name="brand">
                                                        <option value="samsung">samsung</option>
                                                        <option value="Apple">Apple</option>
                                                        <option value="xiaomi">xiaomi</option>
                                                        <option value="sony">sony</option>
                                                        </select>
                                                    </div>
                                                    <button class="col-6" type="submit">Filter</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#each product}}
                    <div class="col-lg-4">
                        <div class="product-item">
                            <div class="product-image">
                                <a href="/product/{{this.slug}}">
                                    <img src="{{this.image}}" alt="Product Image">
                                </a>
                                <div class="product-action">
                                    <a href="#"><i class="fa fa-cart-plus"></i></a>
                                    <a href="#"><i class="fa fa-heart"></i></a>
                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="title"><a href="/product/{{this.slug}}">{{this.name}}</a></div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$22 <span>$25</span></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                
                <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {{#if pre_page}}
                            <li class="page-item">
                                <a class="page-link" href="/product/?page={{pre_page}}" tabindex="-1">Previous</a>
                            </li>
                            {{/if}}
                            {{!-- <li class="page-item"><a class="page-link" href="/product/{{this.page}}">1</a></li>
                            <li class="page-item"><a class="page-link" href="/product/{{this.page}}">2</a></li>
                            <li class="page-item"><a class="page-link" href="/product/{{this.page}}">3</a></li> --}}
                            {{#each pages}}
                                <li class="page-item"><a class="page-link" href="/product/?page={{this.value}}">{{this.value}}</a></li>
                            {{/each}}
                            {{#if next_page}}
                            <li class="page-item">
                                <a class="page-link" href="/product/?page={{next_page}}">Next</a>
                            </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
            </div>
            
            
            
            <div class="col-md-3">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <ul>
                        <li><a href="#">Lorem Ipsum</a><span>(83)</span></li>
                        <li><a href="#">Cras sagittis</a><span>(198)</span></li>
                        <li><a href="#">Vivamus</a><span>(95)</span></li>
                        <li><a href="#">Fusce vitae</a><span>(48)</span></li>
                        <li><a href="#">Vestibulum</a><span>(210)</span></li>
                        <li><a href="#">Proin phar</a><span>(78)</span></li>
                    </ul>
                </div>
                
                <div class="sidebar-widget brands">
                    <h2 class="title">Our Brands</h2>
                    <ul>
                        <li><a href="#">Nulla </a><span>(45)</span></li>
                        <li><a href="#">Curabitur </a><span>(34)</span></li>
                        <li><a href="#">Nunc </a><span>(67)</span></li>
                        <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                        <li><a href="#">Fusce </a><span>(89)</span></li>
                        <li><a href="#">Sagittis</a><span>(28)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product List End -->

